# APP SETTINGS
PORT=3000
MODE=test
SESSION_SECRET=your_session_secret
# EMAIL SETTINGS
EMAIL_TO_ADDRESS=your_email_address
EMAIL_FROM_NAME=your_app_name
EMAIL_FROM_ADDRESS=your_app_email_address
EMAIL_FROM_PASSWORD=your_app_email_password
EMAIL_FROM_HOST=your_app_email_smtp_host
EMAIL_FROM_PORT=465
EMAIL_FROM_SECURE=true
# TWILIO CREDENTIALS
TWILIO_ACCOUNT_SID=your_twilio_account_sid
TWILIO_AUTH_TOKEN=your_twilio_account_token
